---
import Layout from '../layouts/Layout.astro';
import ShirtGrid from '../components/ShirtGrid.astro';
---

<Layout title="My T-Shirt Store">
  <h1>Welcome to the Shirt Site!</h1>
  <p>This is where your awesome Amazon tees will live.</p>

  <ShirtGrid />
</Layout>
