---
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
